.App {
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App button {
  padding: 0 10px;
  margin: 0 10px;
  height: 40px;
  box-sizing: border-box;
  background-color: rebeccapurple;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  transition: background .3s ease-in-out;
  border: none;
}
.App button:hover {
  background-color: rgb(25, 220, 223);
}

.BtnWrapper {
  align-items: center;
  justify-content: center;
}

.Compose {
  display: flex;
  justify-content: center;
}

.Customer {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 2rem;
  /*padding: 0 10px;*/
}

.CustomerNull {
  display: flex;
  margin: 10px;
  font-size: 2rem;
  color: dimgrey;
}

.Delete {
  margin-left: 25px;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  transition: all ease-in-out .2s;
}
.Delete:hover {
  background-color: rgba(255, 0, 0, .6);
}
